<!DOCTYPE html>
<html>
  <head>
    <title>MisterstarkId</title>
    <%= csrf_meta_tags %>
    <%= render 'layouts/metahead' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
</html>
